<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="h-full pb-10">
    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <app-item-card [item]="item" [editMode]="editMode"></app-item-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!items.length" class="text-center">
      <ion-title>No hay artículos en el inventario</ion-title>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addItem()">
        <ion-icon name="add">
          Crear objeto
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="changeEditMode()">
        <ion-icon name="create">
          Editar objetos
        </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
