<ion-content class="ion-padding">
  <ion-grid class="login-container">
    <ion-row class="ion-justify-content-center">
      <ion-col style="text-align: center">
        <img class="" src="../../../assets/icon/ScrumStock.svg" />
        <form [formGroup]="loginForm">
          <ion-item class="item" lines="none" *ngIf="registerMode">
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item class="item" lines="none">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="mail" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="item" lines="none">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>


          <div class="center">

            <ion-button type="submit" class="btn-grad" shape="round" [disabled]="loginForm.invalid" (click)="login()">
              Entrar
              <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
            </ion-button>
            <ion-button type="submit" class="btn-grad" shape="round" [disabled]="loginForm.invalid"
            (click)="register()">
              Registrarse
            </ion-button>

          </div>
        </form>

        <!-- <div class="forgot-password">
          <span (click)="recoveryPassword()">
            {{ 'LOGIN.RECOVERY_PASSWORD' | translate }}
          </span>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
