<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Política de Privacidad de ScrumStock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text>
    ScrumStock ("nosotros", "nuestra" o "la aplicación") se compromete a proteger su privacidad y a garantizar el uso seguro de sus datos personales. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información que usted proporciona al utilizar nuestra aplicación.
  </ion-text>

  <ion-title>
    Información que Recopilamos
  </ion-title>
  <ion-text>
    La aplicación ScrumStock recopila y utiliza únicamente la siguiente información necesaria para permitir que los usuarios inicien sesión en la aplicación:
  </ion-text>
  <ion-text>
    Datos de inicio de sesión: Para proporcionar acceso a su cuenta, recopilamos su dirección de correo electrónico o nombre de usuario y su contraseña. Estos datos se almacenan de manera segura y se utilizan únicamente con el propósito de autenticar su identidad y permitirle iniciar sesión en la aplicación.
  </ion-text>
  <ion-title>
    Uso de la Información
  </ion-title>

  <ion-text>
    Los datos de inicio de sesión que recopilamos se utilizan exclusivamente con el fin de permitir que los usuarios inicien sesión en la aplicación ScrumStock. No compartimos esta información con terceros ni la utilizamos para fines publicitarios o de marketing.
  </ion-text>
  <ion-title>
    Seguridad de los Datos
  </ion-title>
  <ion-text>
    ScrumStock toma medidas de seguridad adecuadas para proteger sus datos de inicio de sesión contra el acceso no autorizado, la divulgación, la alteración o la destrucción. Utilizamos prácticas de seguridad estándar de la industria para garantizar la protección de sus datos.

  </ion-text>
  <ion-title>
    Cambios en la Política de Privacidad
  </ion-title>
  <ion-text>
    Esta política de privacidad puede ser actualizada ocasionalmente para reflejar cambios en nuestras prácticas de recopilación y uso de datos. Le recomendamos que revise esta política periódicamente para estar al tanto de cualquier cambio. La fecha de la última actualización se encuentra en la parte superior de esta política.

  </ion-text>
  <ion-title>
    Contacto
  </ion-title>
  <ion-text>
    Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad o la forma en que tratamos sus datos, no dude en ponerse en contacto con nosotros en xaviermarques4f@gmail.com.

  </ion-text>
  <ion-text>

    Al utilizar la aplicación ScrumStock, usted acepta los términos y condiciones establecidos en esta política de privacidad. Gracias por confiar en nosotros con sus datos personales.
  </ion-text>
</ion-content>
